body {
  background-color: rgb(243, 232, 159);
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

.header a {
  text-decoration: none;
  color: black;
}

header img {
  height: 70px;
  padding: 0;
}

.container {
    height: 86vh;
    background-color: salmon;
}

#food-items {
  display: grid;
  grid-template-columns: 300px 300px 30px;
  margin-inline: 20%;
}

.meal img{
  width: 280px;
}

.meal h3 {
  width: 280px;
}

footer {
  height: 7vh;
  border: 1.5px solid black;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}